* {
  box-sizing: border-box;
}

body {
  background-image: url("/public/images/carpet.jpeg");
}

.hall {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.tables {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.isdi-logo {
  width: 200px;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  height: 550px;
  width: 300px;
  padding: 10px 30px;
  border: 1px solid #000;
  background-color: azure;
  position: relative;
}

.centerTable::before {
  position: absolute;
  content: "";
  border: 1px solid black;
  height: 100%;
  top: 0;
  left: 150px;
}

.centerTable,
.sideTable {
  gap: 20px;
}

.sideTable::before {
  position: absolute;
  content: "";
  border: 1px solid black;
  height: 79%;
  top: 0;
  left: 150px;
}

.sideTable::after {
  position: absolute;
  content: "";
  border: 1px solid black;
  width: 100%;
  bottom: 111px;
  left: 0;
}

.student {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  border: 1px solid #000;
}

.student-image {
  height: 90px;
  width: auto;
}

.tooLargeToFit {
  width: 90px;
  height: auto;
}

.profes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttonTable {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 500px;
  border: 1px solid #000;
  background-color: azure;
}

button {
  font-size: 30px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}
